/*reset CSS*/
*{
    margin:0;padding:0;box-sizing:border-box;list-style: none;
}
body{
    background-color:#ddd;
    max-width:1300px;
    margin:0 auto;
}
.UserImg{
    text-align: center;
    background-color:skyblue;
    padding-bottom:1px;
}
.wrapContainer{
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
}
.imgWrapper{
    padding-top:100%;
    position: relative;
}
.imgWrapper > img{
    width:100%;
    height:auto;
    position: absolute;
    top:0;
    left:0;
}
.description{
    font-size:1.5em;
    margin:30px auto;
}
.UserImg span{
    display:inline-block;
    padding:3px 2.5em;
}

.mainMessage{

    background-color:#fff;
    text-align: center;
    padding-top:1px;
    padding-bottom:20px;
    font-size:1.5em;
}
.mainMessage>h2{
    margin-top:30px;
    margin-bottom:20px;
}
.mainMessage p{
    margin:40px auto;
}

.container{
    padding:20px auto;
    background-color: #ddd;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    max-width:1300px;
}
.container > h2 {
    width:100%;
    text-align: center;
    margin:20px auto;
}
.container  .personWrapper{
    width:30%;
    text-align: center;
}
.container .personWrapper > h3{
    margin-top:10px;
}
.container .personWrapper > p{
    margin-top:20px;
    width:100%;
}
.container .personWrapper > .oneToOne{
    padding-top:100%;
    position: relative;
}
.container .personWrapper .oneToOne img{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
@media (max-width:425px){
.container>ul{
    margin-top:20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
}

